/* rem and em do NOT depend on html font-size in media queries!  Instead, 1rem = 1em = 16px */

/* ******************************* */
/* BELOW 1440px (smaller desktops) */
/* ******************************* */

@media (max-width: 90em) {
  /* Adjust footer */
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr;
    column-gap: 6rem;
  }
}

/* ******************************* */
/* BELOW 1200px (Landscape tablets) */
/* ******************************* */
@media (max-width: 75em) {
  /* Implement hamburger menu */
  .nav-list-box {
    display: none;
    visibility: hidden; /*to hide it from screen readers*/
  }
  .mobile-nav-box {
    display: block;
  }
  .container-features {
    padding: 0 10rem;
  }
}

/* ******************************* */
/* BELOW 960px (Tablets) */
/* ******************************* */
@media (max-width: 60em) {
  .footer {
    height: auto;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .footer-content-box--copyright {
    grid-column: 2 / 3;
  }

  .feature-card-icon--img {
    height: 8rem;
  }

  .main-nav {
    padding: 2.6rem 6rem;
  }

  .container-features {
    padding: 0 8.2rem;
  }
}

/* ******************************* */
/* BELOW 770px (Smaller tablets) */
/* ******************************* */
@media (max-width: 48em) {
  /* Stretch header */
  .main-nav {
    padding: 2.6rem 2rem;
  }

  /* Adjust hero section */
  .hero-title {
    font-size: 6.2rem;
    letter-spacing: -1px;
  }

  .hero-inner {
    padding: 0 3rem;
  }

  /* Features grid -> 1 col layout */
  .section-features {
    padding: 12rem 0 12rem 0;
  }

  .container-features {
    grid-template-columns: 1fr;
  }

  /* Update footer grid layout */
  .footer-container {
    padding: 5.6rem 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
  }

  .footer-content-box--copyright {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    margin-top: 10rem;
  }

  .footer-container-box--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer-container-box--2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .footer-container-box--3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .footer-container-box--4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

/* ******************************* */
/* BELOW 620px (transition to Mobile Phones) */
/* ******************************* */
@media (max-width: 38.75em) {
  .hero-title {
    font-size: 5.4rem;
  }

  .section-features {
    padding: 10rem 0 12rem 0;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  /* below styles need to be set to normal */
  .footer-content-box--copyright {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: 0;
    justify-self: start;
  }

  .feature-card-icon--img {
    height: 6.8rem;
  }

  .container-features {
    padding: 0 6rem;
  }
}

/* ******************************* */
/* BELOW 500px (Mobile Phones) */
/* ******************************* */
@media (max-width: 31.25em) {
  .hero-title {
    font-size: 3.8rem;
    font-weight: 400;
  }

  .hero-search-box-container {
    padding: 0;
  }

  .container-features {
    padding: 0 2rem;
  }

  .feature-card-content-heading {
    font-size: 2rem;
  }

  .feature-info {
    font-size: 2.2rem;
  }
}

/* ******************************* */
/* BELOW 400px (final) */
/* ******************************* */
@media (max-width: 25em) {
  .header-logo {
    height: 2.6rem;
  }

  .vertical-line {
    font-size: 2rem;
  }

  .main-heading {
    font-size: 1.8rem;
  }

  .mobile-nav-icon {
    font-size: 2rem;
  }
}
